<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Broker Insight Code Challenge</title>
</head>
<body style="background-color: #e46c0a"> 

	<div id="menu_bar" style="width:100%; height:80px; background-color: #d35f05; text-align:center">
	
		<img th:src="@{/broker-logo.gif}" style="display:inline-block; width: 200px; height: 48px; float:left; margin-left: 30px; margin-top:16px"/>
		
		<h1 style="display:inline-block">Broker Insight Code Challenge</h1>
	
	</div>
	
	<div id="main_content" style="width:100% height:60px">
	
		<br>
		<br>
	
		<div id="search_page" style="width:100%">
	
			<div class="col-sm-3" style="width:50%; height:75px; margin:auto; background-color: #d35f05">
			
				<form action="#" th:action="@{/searchClientsPolcies}" method="post" th:object="${Client}">
				<br>
					<select style="width:90%; margin-left: 10px;" class="form-control" id="client_name" th:field="*{client_name}">
						<option value="">Select client</option>
						<option th:each="client: ${ClientList}"
							th:value="${client.client_name}"
							th:text="${client.client_name}"></option>
					</select>
					<br>
					<input class="btn btn-primary mt-5" style="float: right;; margin-right: 10px; margin-bottom: 10px;"
								type="submit" value="Search" id="searchBtn">
					<br>
				</form>
				
			</div>
			
			<br>
			
			<div id="policy_div" style="width:90%; margin:auto; background-color: #d35f05;" th:if="${!customerPolicies.isEmpty()}">
			
				<br>
				
				<a th:href="@{'/addPolicy/' +${client_name}}" class ="btn btn-primary" style="float:right;">Add new Policy</a>
		
				<br>
			
			
				<div id ="loadedPolicies" th:each="customerPolicy : ${customerPolicies}" >
					<div style="width:90%; margin:auto; margin-top:10px; background-color: #e46c0a;">
						<p th:text="${customerPolicy.customer_name}"></p>
						<p th:text="${customerPolicy.customer_address}"></p>
						<p th:text="${customerPolicy.premium}"></p>
						<p th:text="${customerPolicy.policy_type}"></p>
						<p th:text="${customerPolicy.insurer_name}"></p>
						
						<a th:href="@{'/addPolicy/' + ${customerPolicy.idpolicies_tb}" class ="btn btn-primary" style="float:right;">Modify Policy</a>
					 
					 	<br>
					</div>
				</div>
				<div style="height:15px"></div>
				
				
			
			
			</div>
	
		</div>
	
	
	</div>


</body>
</html>